*{
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    max-width: 90vw;
    min-width: 40vw;
    width: 100vw;
    margin: 0;
    padding: 0;
}
main{
    width: 80%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: 100%;
    max-width: 100%;
    min-width: 50%;
    height: 90vh;

    background-image: url(./img/banner.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}
nav {
    height: 6em;
    background-color: white;
    min-height: 6em;
    min-width: 50%;
}
.nav-bar {
    width: 80%;
    min-width: 50%;
    min-height: 6em;
    display: grid;
    grid-template-columns: 45% 10% 10% 10% 10% 15%;

    align-items: center ;
    margin: 0 0 4em 0;
}
.logo{
    width: 210px;
    height: 70px;
    margin: 0 0 0 4em;
}
.nav-list{
    color: rgb(6, 6, 31); 
    margin: 0;
    font-size: 0.7em;
    max-width: 40%;
} 
.nav-button{
	border-radius: 6px;
	text-align: center;
	font-weight: bold;
    width: 10em;
	max-width: 320px;
	height: 3.5em;
	margin-bottom: 60px;

	background:#f02121;
    border: none;
    color: white;

    position: relative;
    top: 30px;
    left: 70px;
}
.presentacion {
    position: relative;
    left: 8em;
    top: 5em;
}
.header-text{
    font-size: 12.5px;
    letter-spacing: 1px;
}

.services{
    width: 100%;
    position: relative;
    display: grid;
    gap: 1em;

    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    
}
.header-services{
    grid-column: 1/4;
}
.content-box {
    height: 7em;
}
.about{
    height: 20em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-about{
    display: grid;
    grid-template-rows: 30% 50% 20%;
}
.about-img {
    width: 25em;
    height: 20em;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 2em;
}
.nav-button--contact{
    border-radius: 6px;
	text-align: center;
	font-weight: bold;
    width: 10em;
	max-width: 320px;
	height: 3.5em;
	margin-bottom: 60px;

	background:#f02121;
    border: none;
    color: white;
    margin: 1em;
}

.marcas {
    display: flex;
    flex-direction: row-reverse;

    margin-top: 1em;
}
.content-img{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}
.header-marcas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-right: 4em;
}
.marcas-img {
    width: 100%;
    height: 100%;
}
